@import "normalize";
@import "variable";
@import "layout";

header {
  background-color: #898989;
  padding: 10px;
  display: flex;
  align-items: center;
}

/*logo header*/
.logo {
  width: 50px;
  height: 50px;
}

/*navigation header*/
.categories {
  display: flex;
  align-items: center;
}

.category {
  margin-right: 10px;
}

/*icon search header*/
.icon {
  width: 20px;
  height: 20px;
}